/* *,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
} */
.content{
    height: calc(100vh - theme('height.main'));
    @apply flex;
}
.aside{
    @apply flex flex-col text-gray-700 bg-gray-100 shadow w-60 h-full;
}
.main{
    @apply w-full h-full overflow-scroll;
}